.container{
    width: 100%;
    height: 2300px;
    background-color: rgb(73, 75, 75);

    
    
}

.titulo{

color:rgb(255, 0, 242);
text-align: center;
text-decoration: solid;
font-size:25px;
padding-top: 6px;
padding-bottom: 6px;


border-style: solid;
border-width: 3px;
border-color: black;
background-color: rgb(33, 181, 178);
width: auto;

}
.cabeçalho{
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    color: rgb(0, 0, 0);
    position: relative;
    width: auto;
    height: 60px;
    background-color: rgb(33, 181, 178);
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
footer{
    position: relative;
    text-align: center;
    top:1.2%;
    height: 100px;    
    background-color: black;
    color: rgb(141, 135, 135);
}

    


.memes{
    position: relative;
    top: 50px;
    width: 80%;
    left: 10%;
    right: 10%;
    height: 2000px;
    background-color: rgb(193, 182, 182);
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

/* Imagens*/
/*--------------------------------------------------------*/
#imagem1{
    
    position: relative;
    left: 25%;
    right: 25%;
    top: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: black ;
    width: 50%;
    height: 25%;
    background-color: blueviolet;
}

#imagem2{
    position: relative;
    left: 25%;
    right: 25%;
    top: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0) ;
    width: 50%;
    height: 25%;
    background-color: blueviolet;
}
#imagem3{
    position: relative;
    left: 25%;
    right: 25%;
    top: 18%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0) ;
    width: 50%;
    height: 25%;
    background-color: blueviolet;
}
/*Página 2----------------------------------------------*/
#imagem4{
    position: relative;
    left: 25%;
    right: 25%;
    top: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: black ;
    width: 50%;
    height: 25%;
    background-color: blueviolet;
        
}
#imagem5{
    
    position: relative;
    left: 25%;
    right: 25%;
    top: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0) ;
    width: 50%;
    height: 25%;
    background-color: blueviolet;
}

#imagem6{
    position: relative;
    left: 25%;
    right: 25%;
    top: 18%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0) ;
    width: 50%;
    height: 25%;
    background-color: blueviolet;
}
/*------------------------------------------------------*/
/*Imagens Pg3*/
#imagem7{
    position: relative;
    left: 25%;
    right: 25%;
    top: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: black ;
    width: 50%;
    height: 25%;
    background-color: blueviolet;
}

#imagem8{
    position: relative;
    left: 25%;
    right: 25%;
    top: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0) ;
    width: 50%;
    height: 25%;
    background-color: blueviolet;
}

#imagem9{
    position: relative;
    left: 25%;
    right: 25%;
    top: 18%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0) ;
    width: 50%;
    height: 25%;
    background-color: blueviolet;
    

}
/*-----------------------------------------------------*/

/*Legendas*/
/*--------------------------------------------------------*/
#legendas1{
    position: relative;
    left: 25%;
    right: 25%;
    bottom: 47.5%;
    width: 50%;
    height: 2.5%px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(229, 233, 237);
}

#legendas2{
    position: relative;
    left: 25%;
    right: 25%;
    bottom: 17.5%;
    width: 50%;
    height: 2.5%;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(229, 233, 237)
}

#legendas3{
    position: relative;
    left: 25%;
    right: 25%;
    bottom: -13%;
    width: 50%;
    height: 2.5%;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(229, 233, 237)
}
/*Legendas Pag 2*/
#legendas4{
    position: relative;
    left: 25%;
    right: 25%;
    bottom: 47.5%;
    width: 50%;
    height: 2.5%px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(229, 233, 237)
}
    
#legendas5{
    position: relative;
    left: 25%;
    right: 25%;
    bottom: 17.5%;
    width: 50%;
    height: 2.5%;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(229, 233, 237)
}
    
#legendas6{
    position: relative;
    left: 25%;
    right: 25%;
    bottom: -13%;
    width: 50%;
    height: 2.5%;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(229, 233, 237) 
}
/*-------------------------------------------------*/
/*Legendas Pag 3*/
#legendas7{
    position: relative;
    left: 25%;
    right: 25%;
    bottom: 47.5%;
    width: 50%;
    height: 2.5%px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(229, 233, 237)

}
#legendas8{
    position: relative;
    left: 25%;
    right: 25%;
    bottom: 17.5%;
    width: 50%;
    height: 2.5%;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(229, 233, 237)

}
#legendas9{
    position: relative;
    left: 25%;
    right: 25%;
    bottom: -13%;
    width: 50%;
    height: 2.5%;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(229, 233, 237)

}

.botões{
    position: relative;
    text-align: right;
    left: 85%;
    bottom: -14%;
    width: 15%;
    height: 1.5%;
    background-color: rgb(0, 0, 0);


}
/*Botões Pg1*/
#b1{
    position: relative;
    text-align: left;
    color:rgb(255, 255, 255) ; 
    bottom: -10%;
    

   
}
#b2{
    position: relative;
     text-align: right;
     bottom: 100%;
     color: white;
    
    }
/*-------------------------------------------------------*/    
/*Botões Pg2*/    
#b3{
    position: relative;
    text-align: left;
    bottom: -10%;
    color: white;
    
 }
 #b4{
     position: relative;
     text-align: right;
     bottom: 50%;
     color: white;
     
 }
 /*----------------------------------------------------------*/
/*Botões Pg 3*/

 #b5{
    position: relative;
    text-align: left;
    bottom: -10%;
    color: white;
    

 }
 #b6{
    position: relative;
    text-align: right;
    bottom: 50%;
    color: white;
    

 }